{% extends "base.html" %}

{% block content %}

<div class="card shadow mb-4">
            <div class="card-header py-3">
              <h1 class="m-0 font-weight-bold text-center">List of all Training Centres under Special Intervention Programs </h1>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th class="h4 font-weight-bold">Name</th>
                        <th class="h4 font-weight-bold">Address</th>
                        <th class="h4 font-weight-bold">State</th>
                        
                        
                    </tr>
                  </thead>
                  <tfoot>
                  
                    <tr>
                        <th class="h4 font-weight-bold">Name</th>
                        <th class="h4 font-weight-bold">Address</th>
                        <th class="h4 font-weight-bold">State</th>
                        
                  </tfoot>
                  <tbody>
                  {% if centre_list %}
                        {%for centre in centre_list%}
                    
                    <tr>
                      <td class="h4"><a href = "{{centre.get_absolute_url}}"> {{centre.name}} </a></td>
                      <td class="h4"><a href = "{{centre.get_absolute_url}}"> {{centre.address}} </a></td>
                      <td class="h4"> {{centre.state}}</td>
                      
                    </tr>
                    {%endfor%}
                      {%endif%}
                    


                  </tbody>
                </table>
              </div>
            </div>
          </div>












{% endblock %} 