{% extends "base.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
                <img src="{{clientorganisation.logo.url}}" class="img-thumbnail">
            </div>
            <div class="col-md-11">
                <h1 class="display-3 text-center">{{trainee.last_name}} {{trainee.first_name}}, {{trainee.other_names}} Detail Page</h1>              
            </div>
        </div>  
    </div>
</div>



  <div class="container-fluid" >
    <div class="row">

        
        <div class="card-columns " style="column-count: 2;">
            
            
            <!--General Information-->
            <div class="card mb-6">
                <div class="card-header">
                  <h3>General Information</h3>
                </div>
                <div class="card-body">
                    <p class="DTS"><strong>SURNAME: </strong>{{trainee.last_name}} </p>
                    <p class="DTS"><strong>OTHERNAME: </strong>{{trainee.other_names}} </p>
                    <p class="DTS"><strong>FIRST NAME: </strong>{{trainee.first_name}} </p>
                    <p class="DTS"><strong>DATE OF BIRTH: </strong> {{trainee.DOB}} </p>
                    <p class="DTS"><strong>ADDRESS: </strong> {{trainee.address}}</p>
                    <p class="DTS"><strong>EMAIL: </strong> {{trainee.email}} </p>
                    <p class="DTS"><strong>PHONE NUMBER: </strong> {{trainee.mobile_phone}} </p>
                </div>
              </div>
        
        
        
        <!--Training Program Information-->
        
            <div class="card mb-6">
                <div class="card-header">
                  <h3>Training Programme Information</h3>
                </div>
                <div class="card-body">
                    <p class="DTS"><strong>PROGRAM: </strong> {{trainee.special_Intervention_Program}} </p>
                    <p class="DTS"><strong>TRADE AREA: </strong>{{trainee.trade_Area}} </p>
                    <p class="DTS"><strong>CENTRE: </strong>{{trainee.centre}} </p>
                    <p class="DTS"><strong>YEAR: </strong>{{trainee.date_of_Program.year}} </p>
                    <p class="DTS"><strong>BANK: </strong>{{trainee.bank}} </p>
                    <p class="DTS"><strong>ACCOUNT NUMBER: </strong>{{trainee.account_Number}} </p>
                    <p class="DTS"><strong>BVN: </strong>{{trainee.bvn}} </p>
                </div>
              </div>
        
        

        

        </div> <!--End of Card Column-->

    </div> <!--End of Row-->

  </div>


<div>
    
        {% if perms.TTA.delete_trainee %}
      
      <div class="container">
      <a class='btn btn-outline-secondary' href="{% url 'trainee_update' trainee.bvn %}">Update {{ trainee }}'s Record</a>
      
      <a class='btn btn-outline-secondary' href="{% url 'trainee_delete' trainee.bvn %}">Delete {{ trainee }}'s Record</a>
      
      </div>
      
        {% endif %}
      
  </div>



{% endblock %} 