{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
                <img src="{{clientorganisation.logo.url}}" class="img-thumbnail">
            </div>
            <div class="col-md-11">
                <h1 class="display-3 text-center">{{clientorganisation.name}} Detail Page</h1>              
            </div>
        </div>  
    </div>
  </div>




<div class="container-fluid" >
    <div class="row">

        
        <div class="card-columns " style="column-count: 2;">
            
            
            <!--Bio-->
            <div class="card mb-6">
                <div class="card-header">
                  <h3>General Information</h3>
                </div>
                <div class="card-body">
                    <p class="DTS"><strong>CAC NUMBER: </strong>{{clientorganisation.CAC_Number}} </p>
                    <p class="DTS"><strong>SECTOR: </strong>{{clientorganisation.sector}} </p>
                    <p class="DTS"><strong>AREA OF SPECIALISATTION: </strong>{{clientorganisation.area_of_Specialisation}} </p>
                    <p class="DTS"><strong>STAFF STRENGTH: </strong> {{clientorganisation.staff_Strength}} </p>
                    <p class="DTS"><strong>AREA OFFICE: </strong> {{clientorganisation.area_Office}}</p>
                    <p class="DTS"><strong>DATE FORMED: </strong> {{clientorganisation.date_formed}} </p>
                </div>
              </div>
        
        
        
        <!--Official Information-->
        
            <div class="card mb-6">
                <div class="card-header">
                  <h3>Contact Information</h3>
                </div>
                <div class="card-body">
                    <p class="DTS"><strong>ADDRESS: </strong> {{clientorganisation.address}} </p>
                    <p class="DTS"><strong>EMAIL: </strong>{{clientorganisation.email}} </p>
                    <p class="DTS"><strong>STATE: </strong>{{clientorganisation.state}} </p>
                </div>
              </div>
        
        

        

        </div> <!--End of Card Column-->

    </div> <!--End of Row-->

  </div>
    

  <div>
    
        {% if perms.ClientDB.change_clientorganisation %} 
      
      <div class="container">
      <a class='btn btn-outline-secondary' href="{% url 'client-organisation_update' clientorganisation.CAC_Number %}">Update {{ clientorganisation }}'s Record</a>
      
      <a class='btn btn-outline-secondary' href="{% url 'client-organisation_delete' clientorganisation.CAC_Number %}">Delete {{ clientorganisation }}'s Record</a>
      
      </div>
      
        {% endif %}
      
  </div>

  





{% endblock %} 