{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
                <img src="{{staffbio.image.url}}" class="img-thumbnail">
            </div>
            <div class="col-md-11">
                <h1 class="display-3 text-center">{{staffbio.surname}} {{staffbio.firstname}}, {{staffbio.othernames}}</h1>              
            </div>
        </div>  
    </div>
  </div>

  <div class="container-fluid" >
    <div class="row">

        <!--Bio-->
        <div class="card-columns " style="column-count: 2;">
            <div class="card mb-6">
                <div class="card-header">
                  <h3>Bio</h3>
                </div>
                <div class="card-body">
                    <p class="DTS"><strong>SURNAME: </strong>{{staffbio.surname}} </p>
                    <p class="DTS"><strong>FIRST NAME: </strong>{{staffbio.firstname}} </p>
                    <p class="DTS"><strong>OTHER NAME: </strong>{{staffbio.othernames}} </p>
                    <p class="DTS"><strong>DATE OF BIRTH: </strong> {{staffbio.DOB}} </p>
                    <p class="DTS"><strong>AGE: </strong> {{staffbio.getAge}} Years Old </p>
                </div>
              </div>
        
        
        
        <!--Official Information-->
        
            <div class="card mb-6">
                <div class="card-header">
                  <h3>Official Information</h3>
                </div>
                <div class="card-body">
                    <p class="DTS"><strong>STAFF ID: </strong> {{staffbio.staffId}} </p>
                    <p class="DTS"><strong>DESIGNATION: </strong>{{staffbio.designation}} </p>
                    <p class="DTS"><strong>DIVISION: </strong>{{staffbio.division}} </p>
                    <p class="DTS"><strong>DATE OF EMPLOYMENT: </strong> {{staffbio.DOE}} </p>
                    <p class="DTS"><strong>YEARS OF SERVICE: </strong> {{staffbio.getEmplomentDate}} </p>
                    <p class="DTS"><strong>LEAVE STATUS: </strong> {{staffbio.status}} </p>
                    <p class="DTS"><strong>LEAVE START: </strong> {{staffbio.leave_Start}} </p>
                    <p class="DTS"><strong>LEAVE END: </strong> {{staffbio.leave_End}} </p>
                </div>
              </div>
        
        

        <!--Contact Information-->
        
            <div class="card mb-6">
                <div class="card-header">
                  <h3>Contact Details</h3>
                </div>
                <div class="card-body">
                  <p class="DTS"><strong>ADDRESS: </strong> {{staffbio.address}}</p>
                    <p class="DTS"><strong>OFFICIAL EMAIL: </strong>{{staffbio.email_official}} </p>
                    <p class="DTS"><strong>EMAIL: </strong>{{staffbio.email}} </p>
                    <p class="DTS"><strong>MOBILE PHONE: </strong>{{staffbio.mobile_phone}}</p>
                </div>
              </div>
        
        

        <!--Educational Information-->
        
            <div class="card mb-6">
                <div class="card-header">
                  <h3>Educational Information</h3>
                </div>
                <div class="card-body">
                    <p class="DTS"><strong>DIPLOMA: </strong>{{staffbio.diploma}}</p>
                    <p class="DTS"><strong>FIRST DEGREE: </strong>{{staffbio.bachelors_degree}}</p>
                    <p class="DTS"><strong>MASTERS DEGREE: </strong>{{staffbio.masters_degree}}</p>
                    <p class="DTS"><strong>DOCTORATE DEGREE: </strong>{{staffbio.doctorate_degree}}</p>
                </div>
              </div>
        

        <!--Career Development-->
        
            <div class="card mb-6">
                <div class="card-header">
                  <h3>Career Development</h3>
                </div>
                <div class="card-body">
                    <p class="DTS"><strong>CERTIFICATIONS: </strong>{{staffbio.certification.all|join:", "}}</p>
                    <p class="DTS"><strong>TRAINING PROGRAMMES: </strong>{{staffbio.trainings_attended.all|join:", " }}</p>
                </div>
              </div>

        </div> <!--End of Card Column-->

    </div> <!--End of Row-->

  </div>

<div>
    
        {% if perms.StaffDB.change_staffbio %} 
      
      <div class="container">
      <a class='btn btn-outline-secondary' href="{% url 'staff_update' staffbio.staffId %}">Update {{ staffbio }}'s Record</a>
      
      <a class='btn btn-outline-secondary' href="{% url 'staff_delete' staffbio.staffId %}">Delete {{ staffbio }}'s Record</a>
      
      </div>
      
        {% endif %}
      
  </div>


{% endblock content %}