{% extends 'base.html' %}

{% block content %}
<div class="card shadow mb-4">
            <div class="card-header py-3">
              <h1 class="m-0 font-weight-bold text-center">List of Organisations under the National Apprenticeship Scheme </h1>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th class="h4 font-weight-bold">S/N</th>
                        <th class="h4 font-weight-bold">Name</th>
                        <th class="h4 font-weight-bold">Sector</th>
                        <th class="h4 font-weight-bold">State</th>
                    </tr>
                  </thead>
                  <tfoot>
                  
                    <tr>
                        <th class="h4 font-weight-bold">S/N</th>
                        <th class="h4 font-weight-bold">Name</th>
                        <th class="h4 font-weight-bold">Sector</th>
                        <th class="h4 font-weight-bold">State</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% if nasorganisation_list %}
                        {%for nas in nasorganisation_list%}
                    
                    <tr>
                      <td class="h4"><a href = "{{nas.get_absolute_url}}"> {{nas.id}} </a></td>
                      <td class="h4"><a href = "{{nas.get_absolute_url}}"> {{nas.name}} </a></td>
                      <td class="h4"> {{nas.sector}} </td>
                      <td class="h4"> {{nas.state}}</td>
                      
                    </tr>
                    {%endfor%}
                      {%endif%}
                    


                  </tbody>
                </table>
              </div>
            </div>
          </div>



{% endblock content %}