{% extends 'base.html' %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-12">
                <h1 class="display-3 text-center">{{nasorganisation.name}} Detail Page</h1>              
            </div>
        </div>  
    </div>
</div> 


    <div class="row">
        <div class="col-lg-6">
        <!-- General Information -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-primary">General Information</h3>
            </div>
            <div class="card-body">
            <p class="text-uppercase clientDetailText">
                TYPE: <kbd>{{nasorganisation.type}} </kbd>
            </p>
            <p class="text-uppercase clientDetailText">
                SECTOR:    <kbd>{{nasorganisation.sector}}</kbd>
            </p>
            <p class="text-uppercase clientDetailText">
                AREA OF SPECIALISATTION: <kbd>{{nasorganisation.area_of_Specialization}}</kbd>               
            </p>
            <P class="text-uppercase clientDetailText">
                STAFF STRENGTH: <kbd>{{nasorganisation.staff_Strength}}</kbd> 
            </P>
            <p class="text-uppercase clientDetailText"> 
                DATE FORMED: <kbd>{{nasorganisation.YOE}}</kbd>
            </P>
            </div>
        </div>

        </div>
        <div class="col-lg-6">

        <!-- Contact Information -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-primary">Contact Information</h3>
            </div>
            <div class="card-body">
            <p class="text-uppercase clientDetailText">
                ADDRESS: <kbd>{{nasorganisation.address}}</kbd>
            </p>

            {% comment %} <p class="clientDetailText">
                EMAIL: <kbd>{{clientorganisation.email}}</kbd>
            </p> {% endcomment %}
            <p class="text-uppercase clientDetailText">
                STATE: <kbd>{{nasorganisation.state}}</kbd>
            </P>
            </div>
        </div>
        </div>
  </div>

  <div class="row">
        <div class="col-lg-6">
        <!-- Apprenticeship Information -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-primary">Apprenticeship Information</h3>
            </div>
            <div class="card-body">
            <p class="text-uppercase clientDetailText">
                STAGE: <kbd>{{nasorganisation.stage}} </kbd>
            </p>
            <p class="text-uppercase clientDetailText">
                PROMOTIONAL OFFICER:    <kbd>{{nasorganisation.promotion_Officer}}</kbd>
            </p>
            <p class="text-uppercase clientDetailText">
                APPRAISAL OFFICER: <kbd>{{nasorganisation.appraisal_Officer}}</kbd>               
            </p>
            <P class="text-uppercase clientDetailText">
                HARMONISATION OFFICER: <kbd>{{nasorganisation.harmonisation_Officer}}</kbd> 
            </P>
            <P class="text-uppercase clientDetailText">
                INSTALLATION OFFICER: <kbd>{{nasorganisation.installation_Officer}}</kbd> 
            </P>
            <P class="text-uppercase clientDetailText">
                SUPERVISION OFFICER: <kbd>{{nasorganisation.supervision_Officer}}</kbd> 
            </P>
            <P class="text-uppercase clientDetailText">
                MONITORING OFFICER: <kbd>{{nasorganisation.monitoring_Officer}}</kbd> 
            </P>
            <P class="text-uppercase clientDetailText">
                PROVISIONAL APPROVAL: <kbd>{{nasorganisation.provisional_approval}}</kbd> 
            </P>
            <p class="text-uppercase clientDetailText"> 
                DATE OF PROVISIONAL APPROVAL: <kbd>{{nasorganisation.DOPA}}</kbd>
            </P>
            </div>
        </div>

        </div>
     
  </div>

 
        {% if perms.NasDB.change_nasorganisation %}
      
      <div class="container">
      <button type="button" class="btn btn-outline-primary"><a href="{% url 'nas-organisation_update' nasorganisation.id %}">Update {{ clientorganisation }}'s Record</a></button>
      
      <button type="button" class="btn btn-outline-primary"><a href="{% url 'nas-organisation_delete' nasorganisation.id %}">Delete {{ clientorganisation }}'s Record</a></button>
      
      </div>
      
        {% endif %}
    






{% endblock content %}