{% extends "base.html" %}

{% include "django/forms/widgets/input.html" %}

{% load crispy_forms_tags %}

{% block content %}





  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Add Organisation</h1>
    <p class="lead">Use the form below to add an Organisation's detail to the Fund's NAS databank.</p>
  </div>
  </div>


<div class="container-fluid">
    <form method="post" action="" enctype="multipart/form-data" >
      {% csrf_token %}
      
      <!-- General Information -->
      <h3 class="text-center" > General Information </h3>
       <hr class="sidebar-divider">

      <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          {{ form.name|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.type|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0" >
          {{ form.YOE|as_crispy_field }}
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-12 mb-0">
          {{ form.address|as_crispy_field }}
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          {{ form.contact_person|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.phone_number|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0" >
          {{ form.email|as_crispy_field }}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3 mb-0">
          {{ form.state|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
          {{ form.sector|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0" >
          {{ form.sub_Sector|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0" >
          {{ form.trade_Area|as_crispy_field }}
        </div>
      </div>

       <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          {{ form.staff_Strength_Permanent|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.staff_Strength_Contract|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0" >
          {{ form.staff_Strength_Temporary|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3 mb-0">
          {{ form.cac_Registration|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
          {{ form.cac_Reg_Number|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0" >
          {{ form.itf_Registration|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0" >
          {{ form.itf_Reg_Number|as_crispy_field }}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.stage|as_crispy_field }}
        </div>
      </div>

      <!-- Promotional  Activities -->
      <hr class="sidebar-divider">
      <h3 class="text-center" > Promotional Activities </h3>
       <hr class="sidebar-divider">

       <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.promotion_Officer|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
          {{ form.promotional_report_available|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0" >
          {{ form.promotional_report|as_crispy_field }}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6 mb-0">
          {{ form.products|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
          {{ form.services|as_crispy_field }}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12 mb-0" >
          {{ form.tna|as_crispy_field }}
        </div>
      </div>

      <!-- Appraisal Activities -->
      <hr class="sidebar-divider">
      <h3 class="text-center"> Appraisal Activities </h3>
       <hr class="sidebar-divider">

       <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          {{ form.appraisal_Officer|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.curriculum_available|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0" >
          {{ form.curriculum_type|as_crispy_field }}
        </div>
        
      </div>

      

      <div class="form-row">
         <div class="form-group col-md-3 mb-0">
          {{ form.other_curriculum_type|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
          {{ form.recruitment_and_Selection|as_crispy_field }}
        </div>
        
        <div class="form-group col-md-3 mb-0">
          {{ form.training_record_available|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0" >
          {{ form.training_record_type|as_crispy_field }}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          {{ form.training_Approach_Practical|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.training_Approach_Theory|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0" >
          {{ form.training_Approach_Otj|as_crispy_field }}
        </div>
        
      </div>

      <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          {{ form.certification_available|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.certification_type|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0" >
          {{ form.apprenticeship_Contract_Agreement|as_crispy_field }}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          {{ form.appraisal_findings|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.appraisal_recommendations|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0" >
          {{ form.appraisal_conclusion|as_crispy_field }}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          {{ form.welfare_for_Trainees|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.appraisal_report_available|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0" >
          {{ form.appraisal_report|as_crispy_field }}
        </div>
      </div>

      <!-- Harmonisation  Activities -->
      <hr class="sidebar-divider">
      <h3 class="text-center"> Harmonisation Activities </h3>
       <hr class="sidebar-divider">

       <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          {{ form.harmonisation_Officer|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.harmonisation_report_available|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0" >
          {{ form.harmonisation_report|as_crispy_field }}
        </div>
      </div>

      <!-- Installation  Activities -->
      <hr class="sidebar-divider">
      <h3 class="text-center"> Installation Activities </h3>
       <hr class="sidebar-divider">

       <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          {{ form.installation_Officer|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.installation_report_available|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0" >
          {{ form.installation_report|as_crispy_field }}
        </div>
      </div>

      <!-- Inspection/Supervision/Monitoring  Activities -->
      <hr class="sidebar-divider">
      <h3 class="text-center"> Inspection/Supervision/Monitoring (ISM) Activities </h3>
       <hr class="sidebar-divider">

       <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          {{ form.ISM_Officer|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.ISM_report_available|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0" >
          {{ form.ISM_report|as_crispy_field }}
        </div>
      </div>

     <div class="form-row">
        <div class="form-group col-md-3 mb-0">
          {{ form.planning_of_Training_Programme|as_crispy_field }}
        </div>
	      <div class="form-group col-md-3 mb-0">
          {{ form.proper_Use_of_Training_Facilities_tools_and_Equipment|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
          {{ form.use_of_Appropriate_Method_of_Training|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0" >
          {{ form.record_of_Trainees_Performance|as_crispy_field }}
        </div>
        </div>

        <div class= "form-row">
        <div class="form-group col-md-3 mb-0">
          {{ form.entries_in_Trainees_Logbook|as_crispy_field }}
        </div>
	      <div class="form-group col-md-3 mb-0">
          {{ form.adherence_to_Syllabus_and_Curriculum|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
          {{ form.progress_Report_of_the_Scheme|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0" >
          {{ form.general_Record_Keeping|as_crispy_field }}
        </div>
        </div>
      



      <!-- Approvals and Certifications -->
      <hr class="sidebar-divider">
      <h3 class="text-center"> Approvals and Certifications </h3>
       <hr class="sidebar-divider">

       <div class="form-row">
        <div class="form-group col-md-3 mb-0">
          {{ form.provisional_approval|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
          {{ form.DOPA|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0" >
          {{ form.full_approval|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0" >
          {{ form.DOFA|as_crispy_field }}
        </div>
      </div>


      <button value="Submit" type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>





{% endblock %}